name: CI/CD pipeline to deploy to tomcat
on: 
  push:
    branches: master
jobs:
#  Deploy to the developer environment
  deploy-dev:
    runs-on: ubuntu-latest
    environment: DEV
    steps:
      # 1. Checkout the source code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Set up the Java environment
      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          
      # 3. Build and Test the application
      # We use 'clean install -DskipTests' to build, and then run tests separately.
      # However, since you are running validation, compile, test, and package separately, 
      # we can combine them into a single command for efficiency.
      - name: Build and Package WAR
        run: mvn clean package -DskipTests
      
      - name: Deploy to DEV Tomcat
        run: |
           curl -v -u ${{ secrets.TOMCAT_USER_DEV }}:${{ secrets.TOMCAT_PASSWORD_DEV }} \
            -T target/TrainBook-1.0.0-SNAPSHOT.war \
           "http://${{ secrets.TOMCAT_HOST_DEV }}:8080/manager/text/deploy?path=/TrainBook&update=true"
