on:
  push:
    branches: master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build with Maven (skip tests)
      run: mvn clean package -DskipTests

    - name: sonar code quality
      run: |
        mvn clean verify -DskipTests sonar:sonar \
          -Dsonar.projectKey=train-ticket \
          -Dsonar.host.url="${{ secrets.SONAR_HOST }}" \
          -Dsonar.login="${{ secrets.SONAR_TOKEN }}"

    - name: Deploy WAR to Tomcat
      run: |
        curl -v -u ${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASSWORD }} \
        -T target/TrainBook-1.0.0-SNAPSHOT.war \
        "http://${{ secrets.TOMCAT_HOST }}:8080/manager/text/deploy?path=/myapp&update=true"


    - name: Configure Maven settings.xml for Nexus
      run: |
          mkdir -p ~/.m2
          cat <<EOF > ~/.m2/settings.xml
          <settings>
            <servers>
              <server>
                <id>nexus</id>
                <username>${{ secrets.NEXUS_USERNAME }}</username>
                <password>${{ secrets.NEXUS_PASSWORD }}</password>
              </server>
            </servers>
          </settings>
          EOF

    - name: Upload Artifact to Nexus
      run: mvn deploy -DaltDeploymentRepository=nexus::default::${{ secrets.NEXUS_REPO_URL }}
